
 .btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 8px 12px;
    font-size: 6px;
    cursor: pointer;
  }
  .btn:hover {
    background-color: RoyalBlue;
  }

  .input-height{
    height : 20px
  }