h3{
  color: red;
  font-weight: bold;
  text-align: center;


}

  h4{
    color: darkblue;
    font-weight: bold;
  }

  h5{
    color: darkblue;
    font-weight: bold;

  }

  p{
    color: darkblue;
    font-size: medium;
  }

  b{
font-weight: bold;
  }
  strong{
color: darkblue;
font-weight: bold;
  }