.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 8px 12px;
    font-size: 12px;
    cursor: pointer;
  }
  .btn:hover {
    background-color: RoyalBlue;
  }
  .card-prof{
    border-color: red($color: #e71b1b);
  }

  .lab{
  color: black;
  }
  .button {
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 1px inset #f04cff;
    padding: 12px 16px;
    font-size: 20px;
  }

  .label{
    color: rgb(3, 24, 65);
}

.black{
    color: darkblue;
}

.titulo{
  text-align: center;
  color: rgb(22, 153, 29);  
}