<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      
          <h5 style="text-align: center;">
            <b>
              <mat-icon>loupe</mat-icon> ELEGIR UN PERIODO
            </b>
          </h5>
          <hr>
          <div mat-dialog-content>
            <div>
              <div>
                <mat-form-field style="width:340px">
                  <mat-label>Seleccione un periodo</mat-label>
                  <mat-select name="si" style="width:340px;">
                    <mat-select-filter [placeholder]="'Buscar...'" [displayMember]="'stvtermCode'" [array]="periodos"
                      (filteredReturn)="filteredList1 =$event"></mat-select-filter>

                    <mat-option *ngFor="let per of filteredList1" value="{{per.stvtermCode}}"
                      (click)="guardarPer(per.stvtermCode,per.stvtermEndDate, per.stvtermStartDate, per.code);">
                      {{per.stvtermCode}} - {{per.stvtermDesc}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
       
        <mat-dialog-actions style="justify-content: center;">
          <button mat-raised-button mat-dialog-close type="submit" class="btn btn-primary pull-right"
          (click)="getActividades()">CONSULTAR
          </button>
          <button mat-raised-button mat-dialog-close type="submit" class="btn btn-danger pull-right">CANCELAR
          </button>

        </mat-dialog-actions>
      
    </div>
  </div>
</div>