<!-- <div class="main-content" fxLayout="column" fxLayoutAlign="center center" style="text-align: center;">
	<div>
		<h1>
			<B>CARGA HORARIA</B>
		</h1>
		<br>
	</div>
	<div><img alt="imagenESPE" src="../../assets/img/espelog.png" /></div>
</div> -->

<!-- <div class="main-content" >
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<h1>
						<B>CARGA HORARIA</B>
					</h1>
					
				</div>							
				<div style="align-content: center;">
					<img alt="imagenESPE" src="../../assets/img/espelog.png"/>
				</div>
			</div>
		</div>
	</div>
</div> -->

<br><br><br><br>
<div class="main-content" fxLayout="column" fxLayoutAlign="center center" style="text-align: center;">
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-3">
				</div>
				<div class="col-md-6">
					<div >
						<h1 ><b> CARGA HORARIA</b> </h1><hr>
					</div>
					<img alt="imagenESPE" src="../../assets/img/espelog.png" style="width: 100%;height: auto;"/>
				</div>
				<div class="col-md-3">
				</div>
			</div>
		</div>
	</div>
</div>
</div>