<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      
          <h5 style="text-align: center;">
            <b>
              <mat-icon>loupe</mat-icon> ELEGIR UN PERIODO
            </b>
          </h5>
          <hr>
          <div mat-dialog-content>
            <div>
              <div>
                <mat-form-field style="width: 100%; font-size: 14px;">
                  <mat-label style="color: darkblue;width: auto">Seleccione un periodo</mat-label>
                  <mat-select name="si">
                    <mat-option style="width: 100%;" *ngFor="let periodo of periodos"
                      value="{{periodo.fecha_inicio}}" (click)="saveCodPeriodo(periodo)">
                      ► {{periodo.periodo_code}} - {{periodo.periodo_desc}} &nbsp; → &nbsp;<b>Desde:</b>&nbsp;
                      {{periodo.fecha_inicio}}
                      &nbsp;<b>hasta:</b> {{periodo.fecha_fin}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
       
        <mat-dialog-actions style="justify-content: center;">
          <button mat-raised-button mat-dialog-close type="submit" class="btn btn-danger pull-center">CANCELAR
          </button>

        </mat-dialog-actions>
      
    </div>
  </div>
</div>