<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <img src="../../../assets/img/error.jpg" alt="" id="img1">
      <div class="texto1">
        Vaya!! Ha surgido un error
      </div>
      <div class="texto2">
        ¡¡ERROR AL CONTACTAR CON EL SERVIDOR!!
      </div>
      <div class="texto3">
        Por favor, intenta más tarde.
      </div>
      <div class="image">
        <img src="../../../assets/img/logo.png" alt="">
      </div>
    </div>
  </div>
</div>